h1 {
  font-size: 4em;
}

hr.tag-dark,
hr.tag-light {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

hr.tag-dark:after,
hr.tag-light:after {
  content: "\f121";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.tag-dark {
  border-color: black;
}

hr.tag-dark:after {
  background-color: #f7f7f9;
  color: black;
}

hr.tag-light {
  border-color: #2c3e50;
}

hr.tag-light:after {
  background-color: white;
  color: #2c3e50;
}

.img-centered {
  margin: 0 auto;
}

.profile-img {
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 50%;
  width: 300px;
  max-width: 75%;
}

.footer-row {
  margin-bottom: 10px;
}

.footer-col {
  padding: 0 40px;
}

#maincontent,
#about {
  background: #f7f7f9;
  width: 100%;
}

#portfolio {
  margin-bottom: 25px;
}

.portfolio-img {
  padding-bottom: 5px;
}

.link-btns {
  font-size: 3em;
}
